      </div>

      <div id="footer">
	<div style="float: right;">
	  <a href="mailto:jkp46@case.edu" title="Contact"><img src="img/contact.gif" alt="Contact" /></a>
	  <a href="#" title="Sitemap"><img src="img/sitemap.gif" alt="Sitemap" /></a>
	  <a href="#" title="Rss Feed"><img src="img/rss.png" alt="Rss Feed" /></a>
	</div>
	Theme #4 &copy; 2013 | <!-- You can use it for practically any personal or commercial use so long as you keep our footer credit links intact. -->Theme by <a target="_blank" href="http://codingdev.de" title="CodingDev">CodingDev</a>
      </div>
    </div>
    <script type='text/javascript' src="scripts/jquery.min.js"></script>
    <script src="scripts/app.js"></script>
  </body>
</html>
