---
layout: default
---
  <!--
      <meta http-equiv="refresh" content="0;
        url=http://jkobyp.github.io/selectorsite" />
        -->
    <h2 class="center"> blog </h2>
   <ul>
  {% for post in site.posts %}
    {% if post.category contains 'tech' %}
      {% if post.category contains 'article' %}
    <li>
        <h3 ><a style="text-decoration: none" href="{{post.url}}">Article: {{post.title}}</a> </h3>
        {{post.description}}
            <br>
            <br>
    </li>
      {% else %}
    <li>
        <h3 ><a style="text-decoration: none" href="{{post.url}}">{{post.date | date: "%-d %B %Y"}}</a> </h3>
            {{post.content}}
            <br>
            <br>
    </li>
      {% endif %}
    {% endif %}
  {% endfor %}
   </ul>
