<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>movies/demovies</title>
    <meta http-equiv="Content-Language" content="en-us" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="communist movies and other left nonsense" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen" />
    <link rel="icon" href="/assets/favicon.ico" />
  </head>
  <body>
   <div id="container" class="event">
    <div id="wrap">
      <div id="header">
        <div id="site-title">
          <a href="/events/index.html">movies/demovies</a>
        </div>
      </div> <!-- end #header -->
      <hr>
      <div id="content">
        {{content}}
      </div>
    </div> <!-- end #wrap -->
  </body>
</html>

